# Model checkpoints & outputs
bert-agnews/
*.bin
*.safetensors
*.ckpt

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
wandb/
